<hr>


<h2>Project list</h2>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Project</th>
        <th>Description</th>
        <th class="actions">Actions</th>
    </tr>
    </thead>
    <tbody>
        {{#each projects}}
            <tr>
                <th scope="row">{{ addOne @index }}</th>
                <td>{{ this.title }}</td>
                <td>{{ this.description }}</td>
                <td class="actions">
                    <a href="/project/{{ this.id }}" class="btn d-inline btn-sm btn-outline-info">View</a>
                    <form class="delete-project-form d-inline" action="/api/project/{{ this.id }}" method="delete">
                        <button type="submit" class="btn d-inline btn-sm btn-outline-danger">Remove</button>
                    </form>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>

<hr>

<h2>Create project</h2>
{{> create_project_form }}
